<form [formGroup]="messageForm"
      (ngSubmit)="onSubmit()">
  <fieldset>
    <div>
      <label for="sender">Email</label>
      <input formControlName="sender"
             type="email">
      <span *ngIf="(messageForm.get('sender').touched || messageForm.get('sender').dirty) && !messageForm.get('sender').valid">
        <em>{{ messageForm.get('sender').errors | json }}</em>
      </span>
    </div>
    <div>
      <label for="subject">Subject</label>
      <input formControlName="subject"
             type="text"
             #subjectControl>
      <span *ngIf="(messageForm.get('subject').touched || messageForm.get('subject').dirty) && !messageForm.get('subject').valid">
        <em>{{ messageForm.get('subject').errors | json }}</em>
      </span>
    </div>
    <div>
      <label for="body">Body text</label>
      <textarea formControlName="body"
                cols="30"
                rows="10">
      </textarea>
    </div>
  </fieldset>
  <button type="submit"
          [disabled]="!messageForm.valid">Send!!</button>
</form>
<blockquote>
  <p>
    {{messageForm.errors | json}}
  </p>
  <p>
    {{messageForm.valid | json}}
  </p>
  <p>
    {{messageForm.value | json}}
  </p>
</blockquote>